<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GetCalculate</title>
</head>
<body>
<h1>Калькулятор с использованием метода Get</h1>
<a href="/">Назад</a>

<form action="/get" method="get">
    <label for="a">Первое число</label>
    <input type="text" name="a" id="a" required style="margin-bottom: 20px"><br>

    <label for="b">Второе число</label>
    <input type="text" name="b" id="b" required style="margin-bottom: 20px"><br>

    <label for="action">Операция</label>
    <select name="action" id="action" style="margin-bottom: 20px">
        <option value="summa">Сложение</option>
        <option value="sub">Вычитание</option>
        <option value="multi">Умножение</option>
        <option value="div">Деление</option>
    </select><br>

    <input type="submit" name="calculate" value="calculate" style="margin-bottom: 20px"><br>

    <p>Результат</p>
    <p th:text="${result}"/>

</form>
</body>
</html>